/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    /*background-color: #3a5e27cc;*/
    color: #333;
    padding: 20px;

}




/* Header styling */
header {
    background-color: #5fbf6640;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 40px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-pic {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 20px;
    border: 3px solid #ccc;
}


header ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

header ul li {
    margin: 0;
    background-color: #dbdbdbad;
    display: inline-block;
    margin: 5px;
    padding: 5px 5px;
    border-radius: 20px;
    font-size: 1em;
    border: 1px white solid;
    
}

header ul li a {
    text-decoration: none;
    color: inherit; /* Assure que le lien a la même couleur que le texte environnant */
    padding: 10px;
    transition: color 0.3s;
}

header ul li a:hover {
    color: #007BFF; /* Change la couleur au survol, par exemple en bleu */
}


/* Main section styling */
main {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    
}

/* Download button */

.btn-download-cv {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    background-color: #5fbf6640;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-download-cv:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 8px 16px #5fbf6640;
    color: #fff;
}

/* Section styling */
section {
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #444;
}

.skills-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
}

/* Projects section */
.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.project-card {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: transform 0.2s;
}

.project-card:hover {
    transform: scale(1.05);
}

/* #projects section */

.project-card > img:first-child {
    width: 100%;
    height: 80%; /* Hauteur à 60% de la carte */
    object-fit: cover;
}
.project-card ul li > img:first-child {
    height: 1em;
}

#projects .icones {
    height: 1em; 
    width: auto; 
}


#projects ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#projects ul li {
    background-color: #5fbf6640;
    display: inline-block;
    margin: 5px;
    padding: 0px 5px;
    border-radius: 20px;
    font-size: 1em;
    border: 1px solid;
}

#projects ul li i {
    margin-right: 8px;
}

#projects a p {
    margin: 20px;
}
/* Competences styling */

.cards-competences {
    display: flex;
    justify-content: space-around;
    position: relative;
}


.competences {
   
    position: relative;
    
    margin-top: 75px; /* Half of the image height to ensure half is outside */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    background-color: #dbdbdbad;
    border-radius: 8px;
    text-decoration: none;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icon-competence {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%;
    position: relative;
    top: -65px; /* Half of the image height */
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white; /* Optional: adds a white border for better visibility */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds a shadow */
}


/* Footer styling */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #5fbf6640;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
}

footer a {
    text-decoration: none;

}


.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s, opacity 0.3s;
    border-radius: 20px;
}

.social-icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 0 0px 8px #007BFF;

}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.project-card {
    flex: 1 1 calc(33.333% - 32px); /* Ajuster selon le nombre de colonnes souhaité */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    background-color: #dbdbdbad;
    border-radius: 8px;
    text-decoration: none; /* Enlever la sous-ligne des liens */
    color: inherit; /* Conserver la couleur du texte */
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0px 8px #007BFF;
    
}



.project-card {
    flex: 1 1 calc(33.333% - 32px); /* Ajuster selon le nombre de colonnes souhaité */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: #dbdbdbad;
    border-radius: 8px;
    text-decoration: none; /* Enlever la sous-ligne des liens */
    color: inherit; /* Conserver la couleur du texte */
    transition: transform 0.2s, box-shadow 0.2s;
    perspective: 1000px; /* Nécessaire pour l'effet de retournement */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.project-card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px; /* Pour conserver les coins arrondis */
}

.card-front {
    z-index: 2;
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.card-back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #dbdbdbad;
    padding: 16px;
}

.project-card > .card-front img:first-child {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px; /* Optionnel : arrondir les coins de l'image */
}

.card-front ul, .card-back ul {
    list-style: none;
    padding: 0;
}

.card-front li, .card-back li {
    margin: 8px 0;
}

.card-front p {
    margin: 16px 0;
    font-size: 1.2em;
    font-weight: bold;
}

/* Ajoutez les styles nécessaires pour l'effet de retournement */
.project-card {
    flex: 1 1 calc(33.333% - 32px); /* Ajuster selon le nombre de colonnes souhaité */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    background-color: #dbdbdbad;
    border-radius: 8px;
    text-decoration: none; /* Enlever la sous-ligne des liens */
    color: inherit; /* Conserver la couleur du texte */
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    perspective: 1000px; /* Nécessaire pour l'effet de retournement */
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0px 8px #007BFF;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.project-card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
}

.card-front {
    z-index: 2;
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dbdbdbad;
    padding: 16px;
}

.card-front > img:first-child {
    width: 100%;
    height: 80%; /* Hauteur à 80% de la carte */
    object-fit: cover;
}

.project-card ul {
    list-style: none;
    padding: 0;
}

.project-card ul li {
    margin: 8px 0;
}

.project-card p {
    margin: 16px 0;
    font-size: 1.2em;
    font-weight: bold;
}

/* Maintenez les autres styles existants */
